.cell {
	height: 80px;
	width: 80px;
	padding: 10px;
	border: 1px solid black;
}

.cell.active {
	border: 3px solid blue;
}

.row:nth-child(2n) .cell:nth-child(2n+1) 
{
	background: tan;
}
.row:nth-child(2n) .cell:nth-child(2n) {
	background: #eee;
}
.row:nth-child(2n+1) .cell:nth-child(2n+1) {
	background: #eee;
}

.row:nth-child(2n+1) .cell:nth-child(2n) {
	background: tan;
}

.checker {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid black;
}

.checker.active {
	border: 3px solid teal;
}

.checker span {
	text-align: center;
	margin-top: 10px;
	display: block;
}

.checker.black {
	background: #000;
	color: #fff;
}

	.checker.white {
		background: #fff;
	}